:host {
  --base-color: #00b1ce;
  --background-color: hsla(0, 0%, 0%, 0.8);
  --background-border-color: hsla(0, 0%, 100%, .1);
  --text-color: hsla(0, 0%, 100%, 0.6);
  --link-color: var(--base-color);
  --button-background-color: var(--base-color);
  --button-text-color: #ffffff;

  display: block;

  .container {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    width: 100%;
    left: 0;
    padding: 30px 0;
    background-color: var(--background-color);
    border-top: 1px solid var(--background-border-color);
    border-bottom: 1px solid var(--background-border-color);

    .content {
      position: relative;
      display: flex;
      align-items: center;
      width: 90%;
      max-width: 1600px;
      margin: 0 auto;
      text-align: left;
      justify-content: space-between;

      @media (max-width: 500px) {
        padding-bottom: 50px;
      }

      &__text {
        color: var(--text-color);
        position: relative;
        width: calc(100% - 130px);
        line-height: 25px;
        letter-spacing: .07em;
        margin: 0 auto;
        text-align: justify;

        @media (max-width: 500px) {
          width: 95%;
        }
      }

      &__link {
        text-decoration: underline;
        color: var(--link-color);
        cursor: pointer;
      }

      &__button {
        cursor: pointer;
        border: none;
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        outline: 0;
        padding: 10px 25px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        text-transform: uppercase;

        @media (max-width: 500px) {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
    }

  }

}
